/* don't do scrollbars */
body {
    overflow: hidden; 
}
/* positioning parent div of calendar */
#calendar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.5%;
}
/* removes extra border on the first row of table inside popover */
.borderless tr:first-child td {
    border: none;
}
/* adjust size of close button */
.close {
    size: 20px;
}
/* centers the delete button */
#del {
    width: 46%; 
    margin:0 27% 0 27%;
}
/* shows popover content neatly */
.popover{
    /* min-width: 275px; */
    max-width: 350px;
    box-shadow: 1px 1px 10px rgb(190, 190, 190);  
}
/* show confirmation message in bold */
.msg {
    font-size: 16px;
    font-weight: 500;
}
#yes, #cancel {
    width: 50%;
}
.cfm-btn-grp {
    width: 100% !important;
}
#cfm-dia {
    display: none;
}
.popover-header {
    min-height: 45px;
    font-size: 20px;
}