.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
background-image: url('../images/1.jpg');
  background-repeat:no-repeat;
  height: 100%;

  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
 
}


#tab{
	padding-top:0px;
	
}
#tab tr:hover{
	
	background-color:white;
	color:black;
	
}

#tab td a:hover{
	
	background-color:white;
	color:blue;
	
}
